<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/l.jpg') }});">
    <div id="blur">
        <h1 class="event">NEUTRAL ENDING: CHEESE DELUXE<br>
            <p class="subending">Ending 46/{{ TOTAL }}</p>
        </h1>
        <p class="stinfo">{{NAME}} calmly explains to the welder that the chips were bad, and {{NAME}} didn't know.
            Fortunately, they were able to settle fact that poisonous chips were not a method of combat towards the
            welder. Thank goodness the welder believed them, but {{NAME}} may have accidentally started a revolution
            where {{NAME}} is seen as an assassin...</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}