<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/aj.jpg') }});">
    <div id="blur">
        <h1 class="event">BAD ENDING: MANIPULATOR<br>
            <p class="subending">Ending 52/{{ TOTAL }}</p>
        </h1>
        <p class="stinfo">{{NAME}} replies to the email while lying, but to {{NAME}}'s surprise, the staff were not
            stupid, and were able to tell {{NAME}} was lying... {{NAME}} accidentally starts a revolution in their
            workplace which lead to a republic forming while {{NAME}} slacked off at home. This republic proceeded to
            overthrow {{NAME}}, leaving their new life as a coal miner in Uzbekistan.</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}