<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/1.png') }});">
    <div id="blur">
        <h1 class="event">ASIAN ENDING: GRAND WHOOPING <br>
            <p class="subending">Ending 06/{{ TOTAL }}</p>
        </h1>
        <p class="stinfo">{{NAME}}'s mother whipped out her .50 caliber foot slipper, and swung it over her head. She
            wasn't happy. {{NAME}} knew they were doomed. One swing and {{NAME}}'s limbs gave out. As {{NAME}} continues
            to get beaten down by the legendary piece of combat weaponry that signifies the Asian race, {{NAME}} can't
            do anything but suffer in infinite pain and agony. Maybe it wasn't a good idea to ignore that call...</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}