<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
      <div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/tech.jpg') }});">
      <div id="blur">
      <h1 class="event">BAD ENDING: I PROGRAM, NOT FIX PRINTERS <br> <p class="subending">Ending 01/{{ TOTAL }}</p></h1>
      <p class="stinfo">{{NAME}}'s natural insticts kick in while they tried endlessly to do something. They find a bag of chips approximately 10.2563 metres away from them and immediately start to wander towards the chips. However, what {{NAME}} didn't know is that was a trap. The chip bag was empty... {{NAME}} turns around quickly and finds their mother standing there. <br> "Honey, you work in IT right? Can you fix the printer?" <br> {{NAME}} breaks down in tears, never wanting to hear that forbidden phrase of words ever again as an IT worker.</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
          <ul>
            <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
            <li><a href="/endings"><button type="submit">View all endings</button></a></li>
          </ul>
        </div>
        </div>
        </div>
      <script src="{{ url_for('static', filename='endings.js') }}"></script>
{% endblock %}