<!-- Lucas Bubner, Lachlan Paul, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.png') }});">
    <div id="blur">
        <h1 class="event">BAD ENDING: *THAT* guy notices.<br> <p class="subending">Ending 35/{{ TOTAL }}</p></h1>
        <p class="stinfo">One of your employees notice you installed Arch, and explains to you in extreme detail, how they use Arch because it's just that good trust me bro <br>You die because of how annoying this kid is, "why'd I even hire him," are your last thoughts as you die.</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}