<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/s.webp') }});">
    <div id="blur">
        <h1 class="event">BAD ENDING: CRIME IN A CRIME<br>
            <p class="subending">Ending 59/{{ TOTAL }}</p>
        </h1>
        <p class="stinfo">As {{NAME}} steals the welder's phone, they end up keeping it hostage and
            sending the welder on their way. However, the police end up being sent to {{NAME}}'s house a day later, with reports of a
            stolen mobile device. It turns out the welder had called the police on {{NAME}} as revenge, and now they
            were the one in the bad. The police don't believe that the welder broke into {{NAME}}'s house the night
            before, and instead decide to arrest {{NAME}}. Unlucky.</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}