<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/5.png') }});">
    <div id="blur">
        <h1 class="event">BAD ENDING: SELF INFLICTED POISON <br> <p class="subending">Ending 14/{{ TOTAL }}</p></h1>
        <p class="stinfo">{{NAME}} had brought a bag of chips with them hastily, but they failed to check if they were off. Maybe if {{NAME}} wasn't tired they would have been more careful. {{NAME}} passes out on the floor with a bag of cheesy moldy chips they were supposed to throw out.</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}