<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
      <div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/vista.jpg') }});">
      <div id="blur">
      <h1 class="event">USER ACCOUNT CONTROL: DO YOU WANT TO ALLOW 'ENDING' TO MAKE CHANGES TO YOUR COMPUTER? <br> <p class="subending">Ending 15/{{ TOTAL }}</p></h1>
      <p class="stinfo">{{NAME}} walks into the other room, looking at the computer that just went to sleep. A shake of the mouse and- DEAR GOD WHAT IS THAT ITS WINDOWS VISTA <br> <br> The world suddenly collapses into a user account control window, as the CPU widgets surrounding {{NAME}}'s vision taunt him at 100% usage. <br>There is no escape from Windows Vista, a misborn child of Microsoft. <br>{{NAME}} is now stuck in an endless void of patience, time, widgets, and driver errors...</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
          <ul>
            <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
            <li><a href="/endings"><button type="submit">View all endings</button></a></li>
          </ul>
        </div>
        </div>
        </div>
      <script src="{{ url_for('static', filename='endings.js') }}"></script>
{% endblock %}