<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.jpg') }});">
    <div id="blur">
        <h1 class="event">BAD ENDING: CEOLESS TO A WELDER<br> <p class="subending">Ending 64/{{ TOTAL }}</p></h1>
        <p class="stinfo">{{NAME}} hands over the role of CEO to the welder, and shortly after gets deported from the country. This happened because the police found the money laundering {{NAME}} was in control of after the welder took over, and {{NAME}}'s new life is now as a coal miner in a remote third-world country. Thanks to your terrible decisions, {{NAME}} ended up giving the most powerful role on the planet to a welder with anger issues...</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}