<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.png') }});">
    <div id="blur">
        <h1 class="event">FATHER ENDING: COMBUSTION FROM REALITY <br> <p class="subending">Ending 18/{{ TOTAL }}</p></h1>
        <p class="stinfo">{{NAME}} decides the best thing to do here would be to clip out of reality. Channelling their inner powers, they grip the spacetime of reality and begin to walk out into the unknown. Slowly vanishing from reality, they realise all their mistakes, accomplishments, and dignities; they gain a greater understanding of existence one last time. Goodbye world, it was nice being here...</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}