<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/i.jpg') }});">
    <div id="blur">
        <h1 class="event">BAD ENDING: WAIT I CAN'T SEE<br>
            <p class="subending">Ending 62/{{ TOTAL }}</p>
        </h1>
        <p class="stinfo">{{NAME}} continues to try and call the cops, but accidentally opens the music app. It turns
            out {{NAME}} has already gone blind, and their fate has been sealed. The welder hears this confusion mixed
            with synth waves from the 90's, and {{NAME}} becomes doomed as they die to a strange music taste.</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}