<!DOCTYPE html>
<html>
  <head>
    <meta name="author" content="Lucas Bubner - 9WI 2022">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Python Game All Endings</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='fader.js') }}"></script>
  </head>
  <body>
    <svg id="fader"></svg> <script>fadeIn();</script>
      <h3>ALL ENDINGS || PYTHON INTERACTIVE GAME || LUCAS BUBNER, 2022</h3>
      <b>There will be no guides! You have to find each ending yourself! There are <span id="endingno"></span> endings!</b> <ul style="all: revert;">
        <li>Ending 01 - I PROGRAM, NOT FIX PRINTERS</li>
        <li>Ending 02 - EPIDEMIC OF CHIP REPUBLIC</li>
        <li>Ending 03 - HOLY CHIPS, OUR ODD SAVIOUR</li>
        <li>Ending 04 - ME_IRL</li>
        <li>Ending 05 - THE PERSONALISED FALCON PUNCH</li>
        <li>Ending 06 - GRAND WHOOPING</li>
        <li>Ending 07 - THIRD EYE</li>
        <li>Ending 08 - A FAIR DISCUSSION</li>
        <li>Ending 09 - SPOILERS, SPOILERS EVERYWHERE</li>
        <li>Ending 10 - CHIPS AHOY</li>
        <li>Ending 11 - STUCK IN TIME</li>
        <li>Ending 12 - PAUSE CHALLENGE</li>
        <li>Ending 13 - NANOMACHINES, SON</li>
        <li>Ending 14 - SELF INFLICTED POISON</li>
        <li>Ending 15 - USER ACCOUNT CONTROL: DO YOU WANT TO ALLOW 'ENDING' TO MAKE CHANGES TO YOUR COMPUTER?</li>
        <li>Ending 16 - SYSTEM.ERROR() UNCAUGHT EXCEPTION ON LINE 43: NO FRIENDS DETECTED</li>
        <li>Ending 17 - POISONED... CHIPS?</li>
        <li>Ending 18 - COMBUSTION FROM REALITY</li>
        <li>Ending 19 - CHIP OVERLOAD</li>
        <li>Ending 20 - ON THE RUN</li>
        <li>Ending 21 - CHEESE EMBRACER</li>
        <li>Ending 22 - THE SLAYER HAS ENTERED THE BUILDING</li>
        <li>Ending 23 - LEGENDS NEVER DIE</li>
        <li>Ending 24 - FORTNITE</li>
        <li>Ending 25 - YOU POPPED NOW YOU WILL NEVER STOP</li>
        <li>Ending 26 - YOUR BREATH STINKS</li>
        <li>Ending 27 - I'M GONNA WELD YOUR MOUTH SHUT</li>
      </ul>
      <a href="/">Go back to the game</a>
    <script src="{{ url_for('static', filename='endings.js') }}"></script>
  </body>
</html>