<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/aq.jpg') }});">
    <div id="blur">
        <h1 class="event">QUESTIONABLE ENDING: ...WHAT?<br>
            <p class="subending">Ending 66/{{ TOTAL }}</p>
        </h1>
        <p class="stinfo">As {{NAME}} prays for the welder to be gone, an unknown force takes place in the room, and a
            lightning smite more powerful than the expansion of the universe unleashes over the welder, completely
            obliterating them. How does that even happen...?</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}