<!DOCTYPE html>
<html style="overflow: auto !important;">

<head>
<meta name="author" content="Lucas Bubner - 9WI 2022">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<title>Mind of CEO | All Endings</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<script src="{{ url_for('static', filename='fader.js') }}"></script>
</head>

<body>
<svg id="fader"></svg>
<div class="indexcontainer" id="endingpage">
        <h3>ALL UNLOCKED ENDINGS FOR '{{NAMECAP}}' || MIND OF CEO</h3>
        <b>There are no guides, you have to find each ending yourself! This page automatically updates depending on which endings you've unlocked. <br> <i id="endingcount"></i></b> <br> <br>
        <a href="/story">Go back to the game</a> <br> <br>
        <i>Showing endings for user: {{NAME}}</i>
        <ul id="endinglist" style="all: revert; list-style: square;">
        <li html="ENDING-ChipFinder.html.jinja">Ending 01 - <a href="/e/ENDING-ChipFinder.html.jinja">I PROGRAM, NOT FIX PRINTERS</a></li>
        <li html="ENDING-ChipsGenocide.html.jinja">Ending 02 - <a href="/e/ENDING-ChipsGenocide.html.jinja">EPIDEMIC OF CHIP REPUBLIC</a></li>
        <li html="ENDING-EnthusiasticTakeOutChips.html.jinja">Ending 03 - <a href="/e/ENDING-EnthusiasticTakeOutChips.html.jinja">HOLY CHIPS, OUR ODD SAVIOUR</a></li>
        <li html="ENDING-FSNewGame.html.jinja">Ending 04 - <a href="/e/ENDING-FSNewGame.html.jinja">ME_IRL</a></li>
        <li html="ENDING-FSOldGame.html.jinja">Ending 05 - <a href="/e/ENDING-FSOldGame.html.jinja">THE {{NAMECAP}} FALCON PUNCH</a></li>
        <li html="ENDING-MadMum.html.jinja">Ending 06 - <a href="/e/ENDING-MadMum.html.jinja">GRAND WHOOPING</a></li>
        <li html="ENDING-MadMumDeliquent.html.jinja">Ending 07 - <a href="/e/ENDING-MadMumDeliquent.html.jinja">THIRD EYE</a></li>
        <li html="ENDING-MumNewGame.html.jinja">Ending 08 - <a href="/e/ENDING-MumNewGame.html.jinja">A FAIR DISCUSSION</a></li>
        <li html="ENDING-MumOldGame.html.jinja">Ending 09 - <a href="/e/ENDING-MumOldGame.html.jinja">SPOILERS, SPOILERS EVERYWHERE</a></li>
        <li html="ENDING-NotTiredTakeOutChips.html.jinja">Ending 10 - <a href="/e/ENDING-NotTiredTakeOutChips.html.jinja">CHIPS AHOY</a></li>
        <li html="ENDING-StandForever.html.jinja">Ending 11 - <a href="/e/ENDING-StandForever.html.jinja">STUCK IN TIME</a></li>
        <li html="ENDING-StandForeverMum.html.jinja">Ending 12 - <a href="/e/ENDING-StandForeverMum.html.jinja">PAUSE CHALLENGE</a></li>
        <li html="ENDING-TakeOutDrone.html.jinja">Ending 13 - <a href="/e/ENDING-TakeOutDrone.html.jinja">NANOMACHINES, SON</a></li>
        <li html="ENDING-TiredTakeOutChips.html.jinja">Ending 14 - <a href="/e/ENDING-TiredTakeOutChips.html.jinja">SELF INFLICTED POISON</a></li>
        <li html="ENDING-VistaMum.html.jinja">Ending 15 - <a href="/e/ENDING-VistaMum.html.jinja">USER ACCOUNT CONTROL: DO YOU WANT TO ALLOW 'ENDING' TO MAKE CHANGES TO YOUR COMPUTER?</a></li>
        <li html="ENDING-FriendConvo.html.jinja">Ending 16 - <a href="/e/ENDING-FriendConvo.html.jinja">SYSTEM.ERROR() UNCAUGHT EXCEPTION ON LINE 762: NO FRIENDS DETECTED</a></li>
        <li html="ENDING-HomeChips.html.jinja">Ending 17 - <a href="/e/ENDING-HomeChips.html.jinja">POISONED... CHIPS?</a></li>
        <li html="ENDING-Vanish.html.jinja">Ending 18 - <a href="/e/ENDING-Vanish.html.jinja">COMBUSTION FROM REALITY</a></li>
        <li html="ENDING-ChipOverload.html.jinja">Ending 19 - <a href="/e/ENDING-ChipOverload.html.jinja">CHIP OVERLOAD</a></li>
        <li html="ENDING-RunCheese.html.jinja">Ending 20 - <a href="/e/ENDING-RunCheese.html.jinja">ON THE RUN</a></li>
        <li html="ENDING-EmbraceCheese.html.jinja">Ending 21 - <a href="/e/ENDING-EmbraceCheese.html.jinja">CHEESE EMBRACER</a></li>
        <li html="ENDING-Doom.html.jinja">Ending 22 - <a href="/e/ENDING-Doom.html.jinja">THE SLAYER HAS ENTERED THE BUILDING</a></li>
        <li html="ENDING-Minecraft.html.jinja">Ending 23 - <a href="/e/ENDING-Minecraft.html.jinja">LEGENDS NEVER DIE</a></li>
        <li html="ENDING-Fortnite.html.jinja">Ending 24 - <a href="/e/ENDING-Fortnite.html.jinja">FORTNITE</a></li>
        <li html="ENDING-CheeseSimChips.html.jinja">Ending 25 - <a href="/e/ENDING-CheeseSimChips.html.jinja">YOU POPPED NOW YOU WILL NEVER STOP</a></li>
        <li html="ENDING-BadTeethIT.html.jinja">Ending 26 - <a href="/e/ENDING-BadTeethIT.html.jinja">YOUR BREATH STINKS</a></li>
        <li html="ENDING-BadTeethWeld.html.jinja">Ending 27 - <a href="/e/ENDING-BadTeethWeld.html.jinja">I'M GONNA WELD YOUR MOUTH SHUT</a></li>
        <li html="ENDING-SubInNeedIm.html.jinja">Ending 28 - <a href="/e/ENDING-SubInNeedIm.html.jinja">SUBORDINATES IN NEED</a></li>
        <li html="ENDING-SubInNeedLa.html.jinja">Ending 29 - <a href="/e/ENDING-SubInNeedLa.html.jinja">CARED SUBORDINATES</a></li>
        <li html="ENDING-Backrooms.html.jinja">Ending 30 - <a href="/e/ENDING-Backrooms.html.jinja">BACKROOMS</a></li>
        <li html="ENDING-ITRingout.html.jinja">Ending 31 - <a href="/e/ENDING-ITRingout.html.jinja">IS HE OKAY?</a></li>
        <li html="ENDING-21KO.html.jinja">Ending 32 - <a href="/e/ENDING-21KO.html.jinja">21ST CENTURY K.O</a></li>
        <li html="ENDING-ITRemainSilent.html.jinja">Ending 33 - <a href="/e/ENDING-ITRemainSilent.html.jinja">I'M LAGGING</a></li>
        <li html="ENDING-JavaError.html.jinja">Ending 34 - <a href="/e/ENDING-JavaError.html.jinja">WHAT DOES THIS BUTTON DO?</a></li>
        <li html="ENDING-ArchBtw.html.jinja">Ending 35 - <a href="/e/ENDING-ArchBtw.html.jinja">I USE ARCH BTW</a></li>
        <li html="ENDING-PirWindows.html.jinja">Ending 36 - <a href="/e/ENDING-PirWindows.html.jinja">WRONG WEBSITE</a></li>
        <li html="ENDING-WorkerNotFighter.html.jinja">Ending 37 - <a href="/e/ENDING-WorkerNotFighter.html.jinja">YOU'RE A WORKER NOT A FIGHTER</a></li>
        <li html="ENDING-ImmoIT.html.jinja">Ending 38 - <a href="/e/ENDING-ImmoIT.html.jinja">IMMORTAL IT WORKER</a></li>
        <li html="ENDING-SocietyInter.html.jinja">Ending 39 - <a href="/e/ENDING-SocietyInter.html.jinja">CLASSICAL SOCIETY INTERACTIONS</a></li>
        <li html="ENDING-StrangeChips.html.jinja">Ending 40 - <a href="/e/ENDING-StrangeChips.html.jinja">STOP TRUSTING CHIPS</a></li>
        <li html="ENDING-DisobeyedNarrator.html.jinja">Ending 41 - <a href="/e/ENDING-DisobeyedNarrator.html.jinja">DISOBEYED AND DENIED</a></li>
        <li html="ENDING-ChipTakeGone.html.jinja">Ending 42 - <a href="/e/ENDING-ChipTakeGone.html.jinja">IT WAS POISON?</a></li>
        <li html="ENDING-SmallStepWelder.html.jinja">Ending 43 - <a href="/e/ENDING-SmallStepWelder.html.jinja">ONE SMALL STEP FOR WELDERS</a></li>
        <li html="ENDING-CEOWithoutVision.html.jinja">Ending 44 - <a href="/e/ENDING-CEOWithoutVision.html.jinja">A CEO WITHOUT A VISION</a></li>
        <li html="ENDING-MistakesWorkplaceWelder.html.jinja">Ending 45 - <a href="/e/ENDING-MistakesWorkplaceWelder.html.jinja">MISTAKES OF THE WORKPLACE</a></li>
        <li html="ENDING-CheeseBad.html.jinja">Ending 46 - <a href="/e/ENDING-CheeseBad.html.jinja">CHEESE DELUXE</a></li>
        <li html="ENDING-MistakesWorkplaceIT.html.jinja">Ending 47 - <a href="/e/ENDING-MistakesWorkplaceIT.html.jinja">A POISONED WORKER</a></li>
        <li html="ENDING-ITOverthrow.html.jinja">Ending 48 - <a href="/e/ENDING-ITOverthrow.html.jinja">OVERTHROWN BY THE HIGH COURT</a></li>
        <li html="ENDING-PoisonAgain.html.jinja">Ending 49 - <a href="/e/ENDING-PoisonAgain.html.jinja">POISONED CHIPS... AGAIN</a></li>
        <li html="ENDING-JobForget.html.jinja">Ending 50 - <a href="/e/ENDING-JobForget.html.jinja">WHAT WAS I SUPPOSED TO BE DOING</a></li>
        <li html="ENDING-Weakling.html.jinja">Ending 51 - <a href="/e/ENDING-Weakling.html.jinja">WELL THAT DIDN'T WORK</a></li>
        <li html="ENDING-Manipulator.html.jinja">Ending 52 - <a href="/e/ENDING-Manipulator.html.jinja">MANIPULATOR</a></li>
        <li html="ENDING-CorrectiveMeasures.html.jinja">Ending 53 - <a href="/e/ENDING-CorrectiveMeasures.html.jinja">CORRECTIVE MEASURES</a></li>
        <li html="ENDING-FoodBuy.html.jinja">Ending 54 - <a href="/e/ENDING-FoodBuy.html.jinja">HUMANITARIAN MISSION</a></li>
        <li html="ENDING-FoodIgnore.html.jinja">Ending 55 - <a href="/e/ENDING-FoodIgnore.html.jinja">UNLUCKY STARVATION</a></li>
        <li html="ENDING-ChipsClutch.html.jinja">Ending 56 - <a href="/e/ENDING-ChipsClutch.html.jinja">CHIPS COME IN CLUTCH</a></li>
        <li html="ENDING-Murderer.html.jinja">Ending 57 - <a href="/e/ENDING-Murderer.html.jinja">MURDERER</a></li>
        <li html="ENDING-BusinessContinue.html.jinja">Ending 58 - <a href="/e/ENDING-BusinessContinue.html.jinja">BUSINESS WILL CONTINUE</a></li>
        <li html="ENDING-CrimeCrime.html.jinja">Ending 59 - <a href="/e/ENDING-CrimeCrime.html.jinja">CRIME IN A CRIME</a></li>
        <li html="ENDING-Bomber.html.jinja">Ending 60 - <a href="/e/ENDING-Bomber.html.jinja">SUICIDE BOMBING</a></li>
        <li html="ENDING-ArrestedWelder.html.jinja">Ending 61 - <a href="/e/ENDING-ArrestedWelder.html.jinja">TAKEN BY FORCE</a></li>
        <li html="ENDING-CantDial.html.jinja">Ending 62 - <a href="/e/ENDING-CantDial.html.jinja">WAIT I CAN'T SEE</a></li>
        <li html="ENDING-GooglePowered.html.jinja">Ending 63 - <a href="/e/ENDING-GooglePowered.html.jinja">GOOGLE POWERED TURRETS</a></li>
        <li html="ENDING-CEOless.html.jinja">Ending 64 - <a href="/e/ENDING-CEOless.html.jinja">CEOLESS TO A WELDER</a></li>
        <li html="ENDING-ManiacWelder.html.jinja">Ending 65 - <a href="/e/ENDING-ManiacWelder.html.jinja">MANIAC WELDER</a></li>
        <li html="ENDING-QuestionableForces.html.jinja">Ending 66 - <a href="/e/ENDING-QuestionableForces.html.jinja">...WHAT?</a></li>
        <li html="ENDING-GrassToucher.html.jinja">Ending 67 - <a href="/e/ENDING-GrassToucher.html.jinja">GRASS TOUCHER</a></li>
        <li html="ENDING-ChipCrusader.html.jinja">Ending 68 - <a href="/e/ENDING-ChipCrusader.html.jinja">THE CRUSADING OF THE CHIPOUS CHEESE</a></li>
        </ul>
</div>
<script src="{{ url_for('static', filename='endings.js') }}" defer></script>
<script>
        const unlocked = '{{UNLOCKED}}';
        let totalendings = '{{TOTAL}}';
        setTimeout(() => {
        fadeIn();
        }, 1000);
</script>
</body>

</html>