<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/2.png') }});">
    <div id="blur">
        <h1 class="event">ASIAN ENDING: THIRD EYE <br> <p class="subending">Ending 07/{{ TOTAL }}</p></h1>
        <p class="stinfo">{{NAME}}'s mother spawned behind them, hosting a slipper of mass destruction. {{NAME}} immediately knew they were doomed as they could feel the airy sensation of their limbs being decapitated by their own mother. Never disobey your mother.</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}