<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.jpg') }});">
    <div id="blur">
        <h1 class="event">GOOD ENDING: SUBORDINATES IN NEED<br> <p class="subending">Ending 28/{{ TOTAL }}</p></h1>
        <p class="stinfo">Thanks to {{NAME}}'s immediate attention to their workers, they were able to send the IT worker off to the hospital. The IT worker is happy with this and both {{NAME}} and the worker decide to get closer as more than just employers and employees. How strange considering {{NAME}} accidentally poisoned them! {{NAME}} and the worker will rule the world!</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}