<!-- Lucas Bubner, Lachlan Paul, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.png') }});">
    <div id="blur">
        <h1 class="event">BAD ENDING: YOU WENT BLIND <br> <p class="subending">Ending 44/{{ TOTAL }}</p></h1>
        <p class="stinfo">Due to {{NAME}} not getting their eyes checked, they slowly started losing their vision, and after a few days, they can no longer see anything.</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}