<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.jpg') }});">
    <div id="blur">
        <h1 class="event">PSYCHO ENDING: MURDERER<br> <p class="subending">Ending 57/{{ TOTAL }}</p></h1>
        <p class="stinfo">Wielding a knife, {{NAME}} impales the welder on the spot without hesitation. The welder gasps in shock and clenches their chest, falling to the ground. They end up dying due to shock and blood loss, and {{NAME}} is now a murderer... Was it really worth it? {{NAME}} stares for a moment, then realises the steps they're going to have to take to hide this disaster, as they already hear the police knocking at their door...</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}