<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/q.jpg') }});">
    <div id="blur">
        <h1 class="event">BAD ENDING: IT WAS POISON?<br>
            <p class="subending">Ending 42/{{ TOTAL }}</p>
        </h1>
        <p class="stinfo">{{NAME}} decides to take a chip from the welder and eat it. Hold on! They feel a tight pain in
            their chest and fall to the ground quickly, coughing. Is it just me or are chips at least 50% of the time
            poisonous?</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}