<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/f.webp') }});">
    <div id="blur">
        <h1 class="event">BAD ENDING: I'M GONNA WELD YOUR MOUTH SHUT<br>
            <p class="subending">Ending 27/{{ TOTAL }}</p>
        </h1>
        <p class="stinfo">{{NAME}} approaches the welder. <br> "Woah, woah, woah. Stinker, get the hell away from me!",
            replied the welder aggressively. <br> The welder picks up their welding gun and aims it towards your mouth,
            signalling he's going to weld it shut so the stink of your bad habits stay contained. <br> You run away,
            rethinking if not brushing your teeth after ingesting kilograms of chips was a good idea.</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}