<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/ay.jpg') }});">
    <div id="blur">
        <h1 class="event">BAD ENDING: WELL THAT DIDN'T WORK<br>
            <p class="subending">Ending 51/{{ TOTAL }}</p>
        </h1>
        <p class="stinfo">{{NAME}} goes to take down the welder, but finds out that they are far too weak to take them
            down. The welder has sustained no injuries, and was fully capable of completely obliterating {{NAME}}...
            Ouch.</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to beginning</button></a></li>
                <li><a href="/endings"><button type="submit">View all endings</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}