<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/v.jpg') }});">
    <div id="blur">
        <h1 class="event">CHEESE ENDING: THE EMBRACING OF THE CHEESE DEMOCRATIC <br>
            <p class="subending">Ending 21/{{ TOTAL }}</p>
        </h1>
        <p class="stinfo">{{NAME}}, ultimate Cheese Embracer. The cheese of cheesers. Cheese, cheese cheese. Cheese.</p>
        <div class="endingScreen"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/storyrestart"><button type="submit">Return to cheese</button></a></li>
                <li><a href="/endings"><button type="submit">View all cheese</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}