<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.jpg') }});">
    <div id="blur">
        <h1 class="event">Welcome back {{NAME}}!</h1>
        <p class="stinfo">Your savefile was successfully loaded. Please select an option below. <br> <br> <b>Savefile
                information:</b> <br> {{SAVEFILE | safe}}<br></p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/startgame"><button type="submit">Continue save</button></a></li>
                <li><a href="/storyrestart"><button type="submit">Continue save from start</button></a></li>
                <li><a href="/endings"><button>View unlocked endings</button></a></li>
                <li><a><button id="dbg">View raw savefile</button></a></li>
                <form action='/userdel' method='POST'>
                    <input type="hidden" name="user" value="{{NAME}}" />
                    <li><a><button type="submit" id='del'>Delete savefile</button></a></li>
                </form>
                <li><a href="/"><button type="submit">Logout</button></a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    document.getElementById('del').addEventListener('click', (e) => {
        if (!confirm("Are you sure you want to delete this savefile?")) {
            e.preventDefault();
        }
    });
    document.getElementById('dbg').addEventListener('click', () => {
        // Use a HTML element because the SAVEFILERAW info is HTML formatted and needs unescaping
        const raw = document.createElement('svraw');
        raw.innerHTML = "{{SAVEFILERAW}};";
        alert(raw.innerText);
    });
</script>
{% endblock %}