{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000"
    style="background-image: url({{ url_for('static', filename='images/tv.jpg') }}); background-position: bottom;">
    <div id="blur">
        <h1 class="event">The Prologue to {{NAME}}</h1>
        <p class="stinfo">{{NAME}} was a standard member of society, owning large businesses of many industries (the
            ultra CEO of some super-company). They lived a seemingly normal life, until one day everything began to
            change... <br> <br> {{NAME}} is sitting on the couch, watching TV during the evening, sitting near all their
            technology gadgets. What do they do?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/chips"><button type="submit">Eat the chips</button></a></li>
                <li><a href="/tv"><button type="submit">Continue watching TV</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}