<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.jpg') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} loads Cheese Simulator.</h1>
        <p class="stinfo">Loading... <br> Loading... <br> Loading... <br> CHEESE_SIM.EXE IS NOW ACTIVE. A JPEG of a Cheese Alpha spawns in front of {{NAME}}. It paralyses them and activates their fight or flight response. <br> <br> There is no escape.</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/embracecheese"><button type="submit">EMBRACE THE CHEESE</button></a></li>
                <li><a href="/runcheese"><button type="submit">RUN FROM THE CHEESE</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}