<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.jpg') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} eats more chips. Fatty.</h1>
        <p class="stinfo">{{NAME}} eats all of the Cheesinator Cheese Deluxe Chips, the smell infiltrates their nostrils and desentitises the smell of the rotten cheese. {{NAME}} now has the Nikocadium Avocadia Effect, as they have eaten too many chips without brushing their teeth! ({{NAME}}'s breath now smells terrible)<br> <br> {{NAME}} now has to do something for the day, what do they do?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/gowork"><button type="submit">Go to work</button></a></li>
                <li><a href="/callfriend"><button type="submit">Call a friend</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}