<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.png') }})">
    <div id="blur">
        <h1 class="event">{{NAME}} checks their emails.</h1>
        <p class="stinfo">There's an email waiting for {{NAME}}! A worker at your workplace has gotten really mad. They have seen you giving what seems to be a day off to one of the workers, and for no apparent reason! {{NAME}} forgot that giving a day off to a worker without reason is not professional.<br><br>{{NAME}} has two options; lie to the staff about giving an off day or tell the truth that {{NAME}} was simply feeling nice.</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/replhon"><button type="submit">Reply honestly</button></a></li>
                <li><a href="/repllie"><button type="submit">Reply while lying</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}