<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.jpg') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} picks up the phone.</h1>
        <p class="stinfo">"WERE YOU TRYING TO POISON ME?" yelled the welder before {{NAME}} could even speak. It turns out the welder thought that {{NAME}} was trying to poison them by giving them those chips earlier today. <br> <br> There's been a clear misunderstanding, but nonetheless {{NAME}} had accidentally caused a commotion. What do they do?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/wapologise"><button type="submit">Apologise</button></a></li>
                <li><a href="/wdecline"><button type="submit">Hang up the phone</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}