<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
      <div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/7.jpg') }});">
      <div id="blur">
      <h1 class="event">{{NAME}} decides to brush their teeth, and go to bed.</h1>
      <p class="stinfo">Phew, those cheese chips stunk, good thing they decided to brush their teeth! {{NAME}} brushes their teeth, and goes to sleep. <br> <br> {{NAME}} wakes up in the morning, and is refreshed for the new day!</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
          <ul>
            <li><a href="/gowork"><button type="submit">Go to your workplace</button></a></li>
            <li><a href="/callfriend"><button type="submit">Call a friend</button></a></li>
            <li><a href="/eatmorechips"><button type="submit">Find chips</button></a></li>
          </ul>
        </div>
        </div>
      </div>
{% endblock %}