<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/aar.jpg') }})">
    <div id="blur">
        <h1 class="event">{{NAME}} hides away in the corner of their house.</h1>
        <p class="stinfo">They hear the welder shouting and looking for {{NAME}}. <br> "WHERE ARE YOU, LITTLE PUNK!?"
            exclaimed the welder. <br><br>{{NAME}} is secluded well, do they continue calling the cops or leave matters
            into their own hands?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/wcont"><button type="submit">CALL</button></a></li>
                <li><a href="/wstop"><button type="submit">STOP CALLING</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}