<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/aax.jpg') }})">
    <div id="blur">
        <h1 class="event">{{NAME}} stops calling the cops.</h1>
        <p class="stinfo">{{NAME}} doesn't risk it, when suddenly the welder swings around the corner and suddenly
            reveals {{NAME}}'s hiding spot. {{NAME}} swings a punch and arms themselves, but to no avail as the welder
            looks ready to end your life in an instant. Geez, anger issues alright.<br><br> How does {{NAME}} respond?
        </p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/wgoogle"><button type="submit">"Hey Google, activate internal house turrets."</button></a>
                </li>
                <li><a href="/wask"><button type="submit">"What do you want from me?!"</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}