<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
      <div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.jpg') }});">
      <div id="blur">
      <h1 class="event">{{NAME}} gives the welder the chips.</h1>
      <p class="stinfo">"Thank you. I have one more job to do, you mind helping out?" asked the welder, eating the chips you had.<br> <br> What does {{NAME}} do?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
          <ul>
            <li><a href="/weldhelp"><button type="submit">Help with the last job</button></a></li>
            <li><a href="/wtakechip"><button type="submit">Take a chip from them</button></a></li>
          </ul>
        </div>
        </div>
      </div>
{% endblock %}