<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/aaaa.jpg') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} enters the IT department.</h1>
        <p class="stinfo">They greet the worker there at the time. <br> "Hello." said the IT worker. <br> "Need anything
            boss?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/itworkhelp"><button type="submit">Offer to help them in their work</button></a></li>
                <li><a href="/givechips"><button type="submit">Give them your chips [-chips]</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}