<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/aaar.jpg') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} ignores what just happened to remain professional.</h1>
        <p class="stinfo">"Ooogh, I feel not too good. You mind if I go home early?" said the welder. He looks extremely
            capable of sending your body into another universe with one swing, so {{NAME}} tells them to go home. <br>
            <br> "Yeah.. Good idea." said {{NAME}}. {{NAME}} also goes home as their day has ended early, but on the way
            back, they see a strange wall that seems to be warping. <br> I'm going to tell you now, just keep driving
            past the wall. Just don't go in.</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/homebridge"><button type="submit">Keep driving, don't go into the wall</button></a></li>
                <li><a href="/disobeynarrator"><button type="submit">Screw you narrator, drive into the
                            wall</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}