<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/aaaf.webp') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} picks up the phone.</h1>
        <p class="stinfo">"Hey, thanks for taking me to the hospital, I'm okay. I need a little help with getting some
            stuff I need for the few days I need to spend here. Can you help me get some things?" said the IT worker.
            <br> <br> {{NAME}} feels bad for accidentally poisioning their worker. What do they do?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/subinneed"><button type="submit">Accept and help out</button></a></li>
                <li><a href="/itnocare"><button type="submit">Decline and hang up</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}