<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/aat.webp') }})">
    <div id="blur">
        <h1 class="event">{{NAME}} doesn't call an ambulance, and instead goes home.</h1>
        <p class="stinfo">Apparently this is not {{NAME}}'s problem... {{NAME}} heads straight back home and completely
            ignores the welder who is injured. Prick.<br><br>However, karma is here to strike when {{NAME}} receives a
            phone call on their personal phone number. It's the welder.</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/waccept"><button type="submit">Pick up the phone</button></a></li>
                <li><a href="/wdecline"><button type="submit">Decline phone call</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}