<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/aaav.jpg') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} saves the welder.</h1>
        <p class="stinfo">Leaping into the bright arcs, {{NAME}} saves the welder from hurting themselves further.
            However, {{NAME}} has gotten eye damage from jumping in front of them. <br> <br> {{NAME}} goes home, hoping
            that the symptoms will wear off. The welder managed to be relatively unharmed and did not need medical
            attention. What does {{NAME}} do?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/wmed"><button type="submit">Seek medical attention</button></a></li>
                <li><a href="/cbridge"><button type="submit">Stay at home</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}