<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/aaac.jpg') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} quickly calls an ambulance for the IT worker.</h1>
        <p class="stinfo">{{NAME}} feels regretful for feeding them such poisonous chips. The worker gets rushed to the
            hospital, leaving {{NAME}} feeling terrible. <br> <br> Should {{NAME}} go to the hospital with them and stay
            by their side?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/itleave"><button type="submit">No, leave them with the hospital</button></a></li>
                <li><a href="/subinneed"><button type="submit">Yes, stay by their side during recovery</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}