<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.jpg') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} decides to leave the IT worker with the hospital.</h1>
        <p class="stinfo">{{NAME}} decides to walk home. On the way, they see a strange deformity in the wall. <br> <br> That's strange. What does {{NAME}} do?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/weirdwall"><button type="submit">Walk into it</button></a></li>
                <li><a href="/itignorerun"><button type="submit">Just run back home</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}