<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/aaaq.jpg') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} goes to the Welding Department one building over.</h1>
        <p class="stinfo">"Yo boss, how's it going? You got something for me?" asked the welder. He sees the chips you
            have on hand. "Boss! I'm so hungry, I'd really like those chips right about now." <br> He stares into your
            soul as he looks like he's about to punch your head in if you don't say yes. <br> <br> What does {{NAME}}
            do?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/wdisregard"><button type="submit">Disregard it</button></a></li>
                <li><a href="/wgivechips"><button type="submit">Give chips [-chips]</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}