<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
      <div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/image.jpg') }});">
      <div id="blur">
      <h1 class="event">{{NAME}} goes to the Welding Department one building over.</h1>
      <p class="stinfo">"Yo boss, how's it going? You got something for me?" asked the welder. <br> "Ouuughh, I'm so hungry right now. Too bad you don't have anything I can pinch." said the welder. <br> <br> {{NAME}} notices the welder is hungry, what do they do?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
          <ul>
            <li><a href="/wdisregard"><button type="submit">Disregard it and continue on</button></a></li>
            <li><a href="/it"><button type="submit">Leave and go to IT</button></a></li>
          </ul>
        </div>
        </div>
      </div>
{% endblock %}