<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/aaaz.jpg') }});">
    <div id="blur">
        <h1 class="event">{{NAME}}'s mother is skeptical, but believes them anyway.</h1>
        <p class="stinfo">{{NAME}} stands there at the get-together, seeing a lot of unfamilliar faces. Unfortunately,
            {{NAME}} is introverted. Holding a conversation would be as difficult as learning the Assembly programming
            language. They have some hastily grabbed chips left from last night, good thing {{NAME}} didn't eat them
            all...<br> <br> How does {{NAME}} occupy themselves?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/standforevermum"><button type="submit">Find something to do endlessly</button></a></li>
                <li><a href="/bringoutchips"><button type="submit">Take out chips</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}