<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/11.webp') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} leaves their phone alone, not calling their mother.</h1>
        <p class="stinfo">Maybe not tonight, Mum... {{NAME}} looks at the time. It's only 9, and they don't feel
            tired.<br> <br> How will {{NAME}} occupy themselves into the night?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/gaming"><button type="submit">Spend the night gaming</button></a></li>
                <li><a href="/chipstv"><button type="submit">Spend the night watching TV and eating chips</button></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}