<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/8.webp') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} settles down for the night eating chips and watching TV.</h1>
        <p class="stinfo"><br> {{NAME}} continued to munch on chip after chip and mindlessly watch the TV. <br> <br> {{NAME}} is running low on chips, should they eat the whole bag?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/fatty"><button type="submit">Yes, I'm a fatso</button></a></li>
                <li><a href="/dietician"><button type="submit">No, save some</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}