<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
      <div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/14.jpg') }});">
      <div id="blur">
      <h1 class="event">{{NAME}} opens a new game and enjoys it.</h1>
      <p class="stinfo">{{NAME}} decides not to be stubborn and play a new game. It's very buggy but at least it's fun! {{NAME}} knows they have to go to their mother's tomorrow, and they stop playing to get some sleep. <br> <br> Tomorrow comes. {{NAME}} hastily grabs a bag of chips for the way, not checking what was actually in the bag. {{NAME}} goes to their mother's house and stands there in the corner while everyone gets along. {{NAME}} overheard someone talk about the new game they played. What does {{NAME}} do?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
          <ul>
            <li><a href="/newgametalk"><button type="submit">Join in on the conversation</button></a></li>
            <li><a href="/takeoutchips"><button type="submit">Take out chips</button></a></li>
          </ul>
        </div>
        </div>
      </div>
{% endblock %}