<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/14.jpg') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} opens a new game and enjoys it through the night, failing to get a good night of sleep.</h1>
        <p class="stinfo">Oh no! {{NAME}} fell asleep playing the new game! {{NAME}}'s mother had rung them at 7 in the morning telling them that she was angry at them. {{NAME}} missed an important event!  <br> <br> Rushing out the door and into the car, hastily grabbing a bag of chips, {{NAME}} goes to a meetup with their parents and relatives. How boring. They're left in the corner while everyone gets along. {{NAME}} is really tired. What does {{NAME}} do?</p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/newgametalk"><button type="submit">Wander around and find a conversation</button></a></li>
                <li><a href="/takeoutchips"><button type="submit">Take out chips</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}