<!-- Lucas Bubner, 2022 -->
{% extends "layout.html.jinja" %}

{% block body %}
<div class="theContaininator6000" style="background-image: url({{ url_for('static', filename='images/16.jpg') }});">
    <div id="blur">
        <h1 class="event">{{NAME}} settles down for the late night eating chips and watching TV.</h1>
        <p class="stinfo"><br> {{NAME}} continues to munch on all their chips and mindlessly watch the TV. {{NAME}}
            feels their eyes become heavy, and they drift to sleep! <br> <br> {{NAME}} is abruptly woken at 7 in the
            morning by their mother on the phone! {{NAME}} grabs the bag of chips on the table next to their phone, not
            checking what was in it. {{NAME}} has to go to their mother's house for a get together and {{NAME}} didn't
            know about it last night when she called! </p>
        <div class="mainBarButtons"> <br style="line-height: 10px;">
            <ul>
                <li><a href="/taketime"><button type="submit">Take it easy, not my problem</button></a></li>
                <li><a href="/rush"><button type="submit">Rush as fast as possible</button></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}